/* CSS Reset */
body,
header,
nav,
main,
footer,
h1,
div,
img,
ul,
figure,
figcaption,
section,
article,
aside,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Style rule for box sizing applies to all elements */
* {
	box-sizing: border-box;
}

/* Style rules for body and images */
body {
	background-color: #000;
}

img,
video {
	max-width: 100%;
	display: block;
}

/* Style rules for mobile viewport */

/* Style rule for header */
header {
	top: 0;
	background-color: #000;
	height: 190px;
}

header img {
	margin: 0 auto;
}

/* Style for rules for hamburger menu */
.mobile-nav a {
	color: #fff;
	font-family: 'Francois One', sans-serif;
	text-align: center;
	font-size: 2em;
	text-decoration: none;
	padding: 3%;
	display: block;
}

.mobile-nav a.menu-icon {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}


nav {
	padding: 1%;
	margin-bottom: 1%;
}

nav ul {
	list-style-type: none;
	text-align: center;
} 

nav li {
	font-size: 1.5em;
	font-family: 'Francois One', sans-serif;
	border-top: 1px solid #fff;
}

 nav li:first-child {
	border-top: none;
} 

nav li a {
	padding: 0.5em 1em;
}

/* Show mobile class, hide tablet-desktop class and menu-links id */
/* .mobile {
	display: block;
} */

.tablet-desktop,
#menu-links {
	display: none;
	text-align: center;
}

/* Style rules for main content */
main {
	background-color: grey;
	padding: 2%;
	font-size: 1.15em;
	font-family: 'Roboto Slab', serif;
    text-align: center;
}
.mobile h3 {
	text-shadow: 5px 5px 0px #ccc;
}
/* Style rules for footer content */
footer p {
	font-size: 0.75em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
}

footer p a {
	color: #fff;
	text-decoration: none;
}


/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px),
print {

	/* Tablet Viewport: Show tablet-desktop class, hide mobile class */
	.tablet-desktop {
		display: block;
	}

	.mobile,
	.mobile-nav {
		display: none;
	}

	/* Tablet Viewport: Style rule for header */
	header {
		padding-bottom: 2%;
	}

	/* Tablet Viewport: Style rules for nav area */
	nav li {
		border-top: none;
		display: inline-block;
		border-right: 1px solid #fff;
	}

	nav li:last-child {
		border-right: none;
	}

	nav li a {
		padding: 0.1em 0.75em;
		display: block;
		color: #fff;
		text-decoration: none;
	}

	/* Tablet Viewport: Style rules for main content area */
	main ul {
		margin: 0 0 4% 10%;
	}


	.grid {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 20px;
	}

	.pic-text {
		font-size: 1em;
		padding: 10px;
	}

	aside {
		text-align: center;
		font-size: 1.25em;
		font-style: italic;
		font-weight: bold;
		padding: 2%;
		background-color: rgba(204, 204, 204, 0.5);
		box-shadow: 5px 5px 8px #000;
		text-shadow: 5px 5px 5px #b3b3b3;
		border-radius: 0 15px;
	}

	.grid-item4 {
		grid-column: 1 / span 3;

	}

}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px),
print {

	/* Desktop Viewport: Style rule for header */
	header {
		width: 25%;
		float: left;
		padding-bottom: 0;
	}

	/* Desktop Viewport: Style rules for nav area */
	nav {
		float: right;
		width: 70%;
		margin: 4em 1em 0 0;
	}

	nav ul {
		text-align: right;
	}

	nav li {
		border: none;
	}

	nav li a {
		padding: 0.5em 1em;
	}

	nav li a:hover {
		color: #000;
		background-color: #fff;
		transform: scale(1.3);
	}

	/* Desktop Viewport: Style Rules for main content */
	main {
		clear: left;
	}

}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {

	#container {
		width: 1920px;
		margin: 0 auto;
	}

	table {
		width: 80%;
	}

}

/* Media Query for Print */
@media print {

	body {
		background-color: #fff;
		color: #000;
	}

}

.timeline {
  padding: 0px 100px;
  position: relative;
  width: 100%;
  background-color: black;
  color: #fff;
  margin-bottom: 65px;
}

.timeline ul li {
  position: relative;
  width: 50%;
}

.timeline::before {
  content: "";
  position: absolute;
  height: 80%;
  width: 4px;
  background-color: #fff;
  left: 50%;
  top: 10%;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.timeline ul li:nth-child(odd) .content {
  margin-right: 100px;
}

.timeline ul li:nth-child(even) .content {
  margin-left: 100px;
}

.timeline ul::after {
  content: "";
  display: table;
  clear: both;
}

.timeline ul li:nth-child(odd)::before {
  content: "";
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: black;
  border-radius: 50%;
  right: -79%;
  top: 50%;
  transform: translate(0%, -50%);
  border: 4px solid #fff;
}

.timeline ul li:nth-child(even)::before {
  content: "";
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: black;
  border-radius: 50%;
  left: -79%;
  top: 50%;
  transform: translate(0%, -50%);
  border: 4px solid #fff;
}

.content {
  padding: 50px 0px;
}

.content p {
  color: #fff;
}

.timeline ul li:nth-child(1)::before {
  background-image: url(../images/TT%20Banner%20Trash%20Cat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.timeline ul li:nth-child(2)::before {
  background-image: url(../images/2nd%20child.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.timeline ul li:nth-child(3)::before {
  background-image: url(../images/partnership.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.timeline ul li:nth-child(4)::before {
  background-image: url(../images/award.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.timeline ul li:nth-child(5)::before {
  background-image: url(../images/last.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.our-story {
    text-align: center;
    margin-bottom: 10px;
    margin-left: 120px;
}
